/* base css */
/* base.less */
@charset "utf-8";
.f-cb-lst li,
.f-cb {
  zoom: 1;
}
.f-cb-lst li:after,
.f-cb:after,
.clearfixAfter {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
a {
  color: #444554;
}
a:hover {
  color: #fe6f2f;
}
/* set css */
body {
  font-family: "\5FAE\8F6F\96C5\9ED1";
  color: #8b8c92;
}
.u-trg1,
.u-tdc,
.u-trg2,
.u-trg3,
.u-checkbox,
.icon-war-error {
  display: inline-block;
  position: relative;
  background: url(../images/modulebg.png) no-repeat;
}
.u-bn-prev,
.u-bn-next {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 3;
  width: 25px;
  height: 25px;
  background: url(../images/pnBg1.png) no-repeat;
}
.u-bn-prev {
  margin-left: 420px;
  background-position: left top;
}
.u-bn-prev:hover {
  background-position: left bottom;
}
.u-bn-next {
  left: 50%;
  margin-left: 455px;
  background-position: right top;
}
.u-bn-next:hover {
  background-position: right bottom;
}
.btn {
  display: inline-block;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  background-color: #f6f6f6;
  border: 1px solid #e5e5e5;
  color: #666;
}
.main-btn {
  background-color: #fb841b;
  border-color: #fb841b;
  color: #fff;
}
.main-btn:hover {
  background-color: #ff952c;
  border-color: #ff952c;
  color: #fff;
}
.main-btn:active {
  background-color: #ea730a;
  border-color: #ea730a;
}
/* login.html */
#g-logTp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 70px;
}
#g-logTp .g-tpc {
  margin: 0 auto;
  width: 960px;
}
.g-logo {
  display: inline-block;
  float: left;
}
.g-logo .txt {
  display: none;
}
#g-log-bn {
  position: relative;
  width: 100%;
  height: 600px;
}
#g-log-bn .u-prev1,
#g-log-bn .u-next1 {
  bottom: 42px;
}
.m-slide-lst {
  position: relative;
  width: 100%;
  height: 600px;
}
.m-slide-lst li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: center;
}
#g-logft {
  width: 100%;
  padding: 35px 0;
  line-height: 22px;
  color: #9f9f9f;
  text-align: center;
}
#g-logBox {
  position: absolute;
  left: 50%;
  top: 115px;
  z-index: 5;
  margin-left: 132px;
  width: 348px;
  font-size: 14px;
}
.m-hint {
  position: absolute;
  top: -52px;
  right: 0;
  width: 230px;
  height: 40px;
  line-height: 40px;
  background-color: #fffcda;
  font-size: 16px;
  color: #fbad4a;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  cursor: default;
}
.u-trg1 {
  position: absolute;
  bottom: -9px;
  right: 75px;
  width: 22px;
  height: 12px;
  background-position: -25px 0;
}
.m-log-box {
  position: relative;
  width: 100%;
  height: 384px;
  background-color: #f7f6fb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: inset 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.035);
}
.m-tab-li {
  width: 100%;
}
.m-tab-li a {
  display: inline-block;
  float: left;
  width: 50%;
  height: 46px;
  line-height: 44px;
  background-color: #f2f2f4;
  font-size: 18px;
  color: #a1a1a1;
}
.m-tab-li a:hover {
  color: #333;
}
.m-tab-li a.z-crt {
  background: none;
  color: #333;
}
.m-tab-li a.z-crt span {
  border: none;
}
.m-tab-li span {
  position: relative;
  display: block;
  border-bottom: 1px solid #dee3e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.m-tab-li .item1 span {
  padding-left: 14px;
  border-right: 1px solid #dee3e6;
}
.m-tab-li .item2 span {
  padding-left: 54px;
  border-left: 1px solid #dee3e6;
}
.u-tdc {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -11px;
  *margin-top: -20px;
  width: 23px;
  height: 22px;
  background-position: 0 0;
}
.m-tab-cont {
  position: relative;
  width: 696px;
}
.m-log-block,
.m-tdc-block {
  display: inline-block;
  float: left;
  padding: 20px;
  width: 308px;
}
.m-ipt-mod {
  display: block;
  position: relative;
  padding: 0 18px;
  height: 46px;
  background-color: #fff;
  border: 1px solid #e2e5e9;
}
.login-popup-hint {
  display: none;
  position: absolute;
  top: -35px;
  right: 0;
  z-index: 4;
  padding-left: 1px;
  height: 35px;
  padding-right: 10px;
  line-height: 30px;
  white-space: nowrap;
  font-size: 12px;
  color: #FFF;
  background-position: right top!important;
}
.login-popup-hint,
.login-popup-hint i {
  background: url(../images/popup_hint.png) no-repeat;
}
.login-popup-hint i {
  display: block;
  position: absolute;
  top: 0;
  left: -9px;
  width: 10px;
  height: 30px;
  overflow: hidden;
  background-position: 0 0;
}
.icon-war-error {
  display: none;
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 3;
  width: 18px;
  height: 18px;
  line-height: 10;
  overflow: hidden;
  cursor: pointer;
  background-position: -85px 0;
}
.m-ipt-account {
  margin-bottom: 22px;
  padding-right: 110px;
}
.m-ipt-account .login-popup-hint {
  right: 93px;
}
.m-ipt-account .icon-war-error {
  right: 103px;
}
.u-ipt {
  padding: 13px 0;
  *padding: 12px 0;
  width: 100%;
  height: 20px;
  border: none;
  background-color: #fff;
  color: #666;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-size: 16px;
  out-line: none;
}
.u-ipt:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
.u-ipt::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
.u-ipt::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
.u-ipt:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
.m-slt-mod {
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;
  height: 100%;
  border-left: 1px solid #e2e5e9;
}
.m-slt-mod .show-text {
  display: block;
  height: 46px;
  line-height: 46px;
  background-color: #fbfbfb;
  text-align: center;
}
.m-slt-mod .show-text.z-crt {
  background-color: #fff;
}
.m-slt-mod a:hover {
  color: #2b91e3;
}
.m-slt-mod .txt-lst {
  display: none;
  position: absolute;
  top: 46px;
  left: -1px;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e2e5e9;
}
.m-slt-mod .txt-lst a {
  display: block;
  height: 46px;
  line-height: 46px;
  text-align: center;
}
.m-slt-mod .txt-lst a:hover {
  background-color: #f9f9f9;
}
.m-slt-mod .txt-lst a.z-crt {
  display: none;
}
.u-trg2 {
  top: -1px;
  *top: -5px;
  margin-left: 14px;
  width: 8px;
  height: 5px;
  background-position: -27px -14px;
}
.m-row {
  margin: 20px 0 20px;
  height: 16px;
  line-height: 16px;
}
.m-row .fg-pw {
  display: inline-block;
  float: right;
  color: #999;
}
.m-row .fg-pw:hover {
  color: #2b91e3;
}
.main-btn1 {
  padding: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  background-color: #2b91e3;
  border: none;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.main-btn1:hover {
  background-color: #3ca2f4;
}
.main-btn1:active {
  line-height: 55px;
}
.main-btn1 em {
  display: inline-block;
  text-indent: 20px;
}
.main-btn1 span {
  display: inline-block;
  float: right;
  width: 34px;
  height: 50px;
  text-align: center;
  border-left: 1px solid #55a7e9;
}
.u-trg3 {
  top: -1px;
  width: 8px;
  height: 5px;
  background-position: -37px -14px;
}
.link-reg {
  margin-top: 20px;
  line-height: 20px;
}
.link-reg a {
  color: #2b91e3;
}
.link-reg a:hover {
  color: #2b91e3;
  text-decoration: underline;
}
.m-diy-checkbox {
  position: relative;
  display: inline-block;
  float: left;
  padding-left: 28px;
  font-size: 999;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.u-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background-position: -49px 0;
}
.u-checkbox.z-slt {
  background-position: -67px 0;
}
.m-tdc-block {
  text-align: center;
}
.m-tdc-block h4 {
  line-height: 22px;
  color: #666;
}
.m-tdc-block .c-ex {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  background-color: #f1f1f1;
  color: #999;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
}
.m-tdc-img {
  margin: 12px 0;
}
.m-ft-nav a {
  display: inline-block;
  color: #9f9f9f;
}
.m-ft-nav a:hover {
  color: #fe6f2f;
}
.m-ft-nav .line {
  display: inline-block;
  margin: 0 5px;
  font-family: "\65B0\5B8B\4F53";
}
